<%= javascript_pack_tag 'pages/index' %>
<div>
  <header>
    <h1>どいこメシ</h1>
    <%= image_pack_tag 'food_rurohan_kakuni.png', class: "top-icon3" %>
  </header>
  <main>
    <%= form_with url: '/sponsored', method: 'post', local: true do |form| %>
      <h2>ご入力の上、下のボタンをポチッと押してください</h2>
      <hr>
      <label for="name">お名前</label>
      <input id="name" type="text" name="name" required>
      <label for="email">メールアドレス</label>
      <input id="email" type="email" name="email" required>
      <div>
        <div>
          <label for="cardnumber">カード番号</label>
          <input id="cardnumber" type="text" inputmode="numeric" name="billing_card[number]" placeholder="例）0123456701234567" required>
        </div>
        <div>
          <label for="expirationdate">有効期限 (mm)</label>
          <input id="expirationdate" type="text" pattern="^(0[1-9]|1[0-2])$" inputmode="numeric" name="billing_card[exp_month]" placeholder="例）06/32" required>
        </div>
        <div>
          <label for="expirationdate">有効期限 (yy)</label>
          <input id="expirationdate" type="text" pattern="^([0-9]{2}$)" inputmode="numeric" name="billing_card[exp_year]" placeholder="例）06/32" required>
        </div>
        <div>
          <label for="securitycode">セキュリティコード</label>
          <input id="securitycode" minlength="3" maxlength="4" type="text" pattern="[0-9]*" inputmode="numeric" name="billing_card[cvc]" placeholder="例）012" required>
        </div>
      <p>月が一桁の場合は頭に0を入力</p>
      </div>
      <div>
        <%= button_tag "どいこにうまいメシを食べさせる", data: { disable_with: "どいこにごはん代を送っています・・・" } %>
      </div>
    <% end %>
  </main>
      <%= image_pack_tag 'computer_laptop_angle5.png', class: "top-icon1" %>
      <%= image_pack_tag 'animal_chara_gorilla_girl.png', class: "top-icon2" %>
</div>