<%= javascript_pack_tag 'pages/thanks' %>
<%= stylesheet_pack_tag 'pages/thanks' %>
<div class="thanks-page">
  <header class="header">
    <h1 class="page-title">どいこメシ</h1>
    <%= image_pack_tag 'food_rurohan_kakuni.png', class: "top-icon" %>
  </header>
  <main>
    <section class="container">
      <h2 class="message">どいこからのお礼</h2>
      <hr class="dividing-line">
      <p class="comment">ありがとうございました！</p>
      <p class="comment">頂いたお金でおいしいご飯食べてきます(=^^=)</p>
      <p class="comment">一週間以内にお礼のメールを送らせて頂きますね！！</p>
      <%= link_to 'TOPへ戻る', top_page_path, class: "link-button" %>
    </section>
  </main>
  <footer class="footer">
    <hr class="line-first">
    <hr class="line-second">
    <div class="footer-icon-area">
      <%= image_pack_tag 'computer_laptop_angle5.png', class: "icon1" %>
      <%= image_pack_tag 'animal_chara_gorilla_girl.png', class: "icon2" %>
    </div>
    <div class="terms">
      <a href="https://www.kiyac.app/plivacypolicy/uB91F7AaLvuDSpPsrNA3" class="link-text" target="_blank" rel="noopener noreferrer">
        プライバシーポリシー
      </a>|
      <a href="https://www.kiyac.app/SCTLaw/STGtlh6e8YjP2EwktTfM" class="link-text" target="_blank" rel="noopener noreferrer">
        特定商取引に関する表示
      </a>
    </div>
    <a href="https://twitter.com/doiko_niki" target="_blank" rel="noopener noreferrer">
      <%= image_pack_tag 'logo_blue.svg', class: "sns-icon" %>
    </a>
    <small class="copyright">© Doiko all rights reserved.</small>
    <hr class="line-first">
    <hr class="line-second">
  </footer>
</div>